$main-color: #422242;
$header-color: #5A3D5D;
$button-color: #725A72;
$input-color: #D0C8D0;

@font-face {
    font-family: lato;
    src: local('font/lato/Lato.-Regular.ttf');
}

.start-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.start-title {
    font-family: lato;
    font-size: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-button {
    height: 375px;
    width: 465px;
    background-color: $button-color;
    border: none;
    border-radius: 20px;
    font-size: 80px;
    margin: 10px;
    color: white;
    font-family: lato;
}

@media screen and (max-width: 600px) {
    .start-title {
        font-size: 20px;
    }

    .game-button {
        height: 125px;
        width: 155px;
        font-size: 27px;
        margin: 3px;
        border-radius: 7px;
    }
} 