$main-color: #422242;
$header-color: #5A3D5D;
$button-color: #725A72;
$input-color: #D0C8D0;

@font-face {
    font-family: lato;
    src: local('font/lato/Lato-Regular.ttf');
}

.guide {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.guide-container {
    background-color: $input-color;
    width: 810px;
    min-height: 210px;
    border-radius: 20px;
    padding: 40px;
    margin-top: 20px;
}

.guide-text {
    font-family: lato;
    font-size: 80px;
    color: $main-color;
    text-align: center;
}

.guide-btn {
    width: 890px;
    height: 140px;
    border-radius: 20px;
    background-color: $button-color;
    color: white;
    font-family: lato;
    font-size: 60px;
    margin-top: 20px;
    border: none;
}

@media screen and (max-width: 600px) {
    .guide-container {
        width: 270px;
        min-height: 70px;
        border-radius: 7px;
        padding: 13px;
        margin-top: 7px;
    }
    
    .guide-text {
        font-size: 27px;
    }
    
    .guide-btn {
        width: 297px;
        height: 47px;
        border-radius: 7px;
        font-size: 20px;
        margin-top: 7px;
    }
}