$main-color: #422242;
$header-color: #5A3D5D;
$button-color: #725A72;
$input-color: #D0C8D0;

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}