$main-color: #422242;
$header-color: #5A3D5D;
$button-color: #725A72;
$input-color: #D0C8D0;

@font-face {
    font-family: lato;
    src: local('font/lato/Lato-Regular.ttf');
}

.choose {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.choose-title {
    font-family: lato;
    font-size: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.choose-btn {
    background-color: $button-color;
    border-radius: 20px;
    border: none;
    width: 485px;
    height: 220px;
    margin: 10px;
}

.btn-text {
    color: white;
    font-family: lato;
}

.btn-name {
    font-size: 80px;
}

.btn-date {
    font-size: 30px;
}

@media screen and (max-width: 600px) {
    .choose-title {
        font-size: 20px;
    }
    
    .choose-btn {
        border-radius: 7px;
        width: 161px;
        height: 76px;
        margin: 3px;
    }
    
    .btn-name {
        font-size: 27px;
    }
    
    .btn-date {
        font-size: 10px;
    }
}