$main-color: #422242;
$header-color: #5A3D5D;
$button-color: #725A72;
$input-color: #D0C8D0;

@font-face {
    font-family: lato;
    src: local('font/lato/Lato-Regular.ttf');
}

.endgame {
    display: flex;
    flex-direction: row;
    justify-content: center;;
}

.endgame-title {
    font-family: lato;
    font-size: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.endgame-container {
    background-color: $input-color;
    border: none;
    border-radius: 30px;
    width: 810px;
    padding: 40px;
    min-height: 210px;
    margin-top: 20px;
    font-family: lato;
    color: $main-color;
    font-size: 40px;
}

.leaderboard-header {
    color: $button-color;
    font-family: lato;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.leaderboard-entry {
    color: $main-color;
    font-family: lato;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.leaderboard-current {
    color: $main-color;
    font-family: lato;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #978597;
    border-radius: 20px;
}

.leaderboard-rank {
    text-align: left;
    width: 100px;
}

.leaderboard-name {
    text-align: left;
    width: 400px;
}

.leaderboard-score {
    text-align: right;
    width: 130px;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.endgame-btn {
    width: 440px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    font-family: lato;
    font-size: 60px;
    color: white;
    background-color: $button-color;
}

@media screen and (max-width: 600px ) {    
    .endgame-title {
        font-size: 20px;
    }
    
    .endgame-container {
        border-radius: 10px;
        width: 270px;
        padding: 13px;
        min-height: 70px;
        margin-top: 7px;
        font-size: 13px;
    }
    
    .leaderboard-header {
        font-size: 10px;
        margin-bottom: 7px;
    }
    
    .leaderboard-entry {
        font-size: 13px;
        margin-bottom: 3px;
    }
    
    .leaderboard-rank {
        width: 133px;
    }
    
    .leaderboard-name {
        width: 133px;
    }
    
    .leaderboard-score {
        width: 43px;
    }
    
    .btn-container {
        margin-top: 7px;
    }
    
    .endgame-btn {
        width: 147px;
        padding: 7px;
        border-radius: 7px;
        font-size: 20px;
    }
}