$main-color: #422242;
$header-color: #5A3D5D;
$button-color: #725A72;
$input-color: #D0C8D0;

@font-face {
    font-family: lato;
    src: local('font/lato/Lato-Regular.ttf');
}

@font-face {
    font-family: lato-thin;
    src: local('font/lato/Lato-Thin.ttf');
}

.create {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.create-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-title {
    font-family: lato;
    font-size: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.create-inputs {
    background-color: $input-color;
    width: 810px;
    min-height: 260px;
    border-radius: 20px;
    padding: 40px;
    margin-top: 20px;
    ::placeholder {
        color: $button-color;
    }
}

.create-upload {
    border-radius: 10px;
    border: 2px $main-color solid;
    background-color: $input-color;
    width: 750px;
    height: 30px;
    font-family: lato-light;
    color: $main-color;
    font-size: 45px;
    padding: 20px;
    margin: 10px;
}

.create-btn {
    background-color: $button-color;
    color: white;
    font-family: lato;
    font-size: 60px;
    border: none;
    border-radius: 20px;
    padding: 25px;
    margin-top: 25px;
}

@media screen and (max-width: 600px) {
    .create-title {
        font-size: 20px;
    }
    
    .create-inputs {
        width: 270px;
        min-height: 87px;
        border-radius: 7px;
        padding: 13px;
        margin-top: 7px;
    }
    
    .create-upload {
        border-radius: 3px;
        border: 1px $main-color solid;
        width: 250px;
        height: 10px;
        font-size: 15px;
        padding: 7px;
        margin: 3px;
    }
    
    .create-btn {
        font-size: 20px;
        border-radius: 7px;
        padding: 8px;
        margin-top: 8px;
    }
}